<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/error404.css">
</head>
<body>
    <div>
        <a href="/"><img src="/img/logo2.jpg" id="imgLogo" alt=""></a>
        <h1><i class="fas fa-exclamation-triangle"></i> ERROR 404 <i class="fas fa-exclamation-triangle"></i> <br> PAGE NOT FOUND </h1>
        <a href="/" id="homepageLink"><i class="fas fa-home"></i> BACK TO HOME PAGE </a>
    </div>
</body>
</html>