<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    {{>toWatchFilms}}

<script src="/script/searchFunction.js"></script>
</body>
</html>