<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    {{>navbar}}
    
    {{>toWatchFilms}}

    {{>footer}}

</body>
</html>