<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/accessStyle.css">
</head>
<body id="login">

    <form method="POST">

        <a href="/"><img src="/img/lgLogo.jpg" id="imgLogo" alt=""></a>

        {{#if message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{else}}
            <h1 id="title">Log in</h1>
        {{/if}}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" autocomplete="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="new-password">
        </div>

        <div class="form-group">
            <a id="registrationLink" href="/registration">Do not have an account? Create it now</a>
        </div>
        
        <button class="btn">SUBMIT</button>
        
    </form>

<script src="/script/login.js"></script>
</body>
</html>