<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/accessStyle.css">
</head>
<body id="registration">

    <form action="/registration" method="POST">
        <a href="/"><img src="/img/lgLogo.jpg" id="imgLogo" alt=""></a>
        {{#if message}}
            <div class="alert {{class}}" role="alert">
                {{message}}
            </div>
        {{else}}
            <h1 id="title">Create account</h1>
        {{/if}}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" autocomplete="username">
            <small id="usernameHelp" class="form-text"><i class="fas fa-info"></i> Letters between 4 and 15</small>
        </div>

        <div class="form-group">
            <label for="mail">Email address</label>
            <input type="email" class="form-control" id="mail" name="mail" autocomplete="email">
            <small id="emailHelp" class="form-text"><i class="fas fa-info"></i> Insert a valid email</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="new-password">
            <small id="passwordHelp" class="form-text"><i class="fas fa-info"></i> 7 to 15 characters and the first must be a letter</small>
        </div>
            
        <button type="submit" class="btn">SUBMIT</button>
    </form>

<script src="/script/registration.js"></script>

</body>
</html>