<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <link rel="stylesheet" href="/css/searchFilm.css">
</head>
<body id="searchFilms">
    {{>header}}
    {{>searchedFilm}}
<script src="/script/searchFunction.js"></script>
</body>
</html>