<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/favFilms.css">
</head>
<body>

    {{>navbar}}

    {{>userFilms}}

    {{>footer}}


<script>
    const userGenres = document.querySelectorAll("li");
    const cards = document.querySelectorAll(".card");
    const buttonFilter = document.querySelector("#filterGenres")
    const allGenres = document.querySelector("#allGenres")
    let clicked = false;

    userGenres.forEach((liGenre) => {
    liGenre.addEventListener("click", () => {
        cards.forEach((card) => {
        card.style.display = "block";
        if (!card.id.includes(liGenre.id)) card.style.display = "none";
        });
    });
    });

    buttonFilter.addEventListener("click", () => {
        if (clicked) {
            clicked = false;
            allGenres.style.display = "none"
        } else {
            clicked = true;
            allGenres.style.display = "block"
        }
    })

</script>
</body>
</html>