<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/favFilms.css">
</head>
<body>

    {{>navbar}}

    {{>userFilms}}

    {{>footer}}

</body>
</html>