{{#if twFilms}} 
<h2 id="wtwTitle">WHAT TO WATCH:</h2>
<section id="whatToWatch">
  {{#each twFilms}}
  <div class="card">
  <img class="card-img-top" src="http://img.omdbapi.com/?i={{imdbID}}&apikey=e3e69745" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.plot}}</p>
    <a href="#" class="btn ">Find out more</a>
  </div>
</div>
{{/each}}
</section>
{{/if}}