<header>

    <img src="/img/logoAmdb.jpg" alt="" id="logo">

    
    <div id="divSearch">
        <i class="fas fa-film"></i>
        <input class="input-field" type="text" placeholder="Search for a movie...">
        <i class="fas fa-search"><button type="submit"></button></i>
    </div> 

    <a href="" class="btn-area"><i class="fa fa-user icon"></i> LOG IN</a>

    <a href="" class="btn-area"><i class="fas fa-sign-in-alt"></i>SIGN IN</a>

</header>