<header data-theme="dark">

    <a href="/"><img src="/img/dkLogo.jpg" alt="" id="logo"></a>

    <form method="GET" action="/search" id="searchFilm">
        <i class="fas fa-film"></i>
        <input class="input-field" spellcheck="false" type="text" id="inputFilm" name="title" placeholder="Search for a movie...">
        <button id="searchButton"><i class="fa fa-search"></i></button>
    </form>

    <div id="userInteraction">
        <a href="/login" id="userButton"><i class="far fa-user"></i> GET STARTED</a>
        <a href="/logout" id="logoutButton"><i class="fas fa-sign-out-alt"></i> LOGOUT</a>
    </div>
</header>

<script src="/script/navbar.js"></script>
