<header data-theme="dark">

    <a href="/"><img src="/img/dkLogo.jpg" alt="" id="logo"></a>

    <form method="GET" action="/search" id="searchFilm">
        <i class="fas fa-film"></i>
        <input class="input-field" spellcheck="false" type="text" id="inputFilm" name="title" placeholder="Search for a movie...">
        <button id="searchButton"><i class="fa fa-search"></i></button>
    </form>

    <div id="userInteraction">

        <button class="dropbtn"><i class="fas fa-bars"></i></button>

        <div id="dropdown-content">
            <form id="userForm" method="post" action="/user">
                <button type="submit" class="btn-area" id="userButton"><i class="fa fa-user icon"></i></button>
            </form>
            <a href="/logout" class="btn-area" id="logoutButton"><i class="fas fa-sign-out-alt"></i>LOG OUT</a>
            <a href="/login" class="btn-area" id="loginButton"><i class="fa fa-user icon"></i>LOG IN</a>
            <a href="/registration" class="btn-area" id="signinButton"><i class="fas fa-sign-in-alt"></i>SIGN UP</a>
            <button id="modeButton"><i class="far fa-moon" ></i> DARK MODE</button>
        </div>       
    </div>
</header>

<script src="/script/navbar.js"></script>
