<aside>
    <div id="genresLegend"><h1>GENRES <i class="fas fa-angle-left"></i></h1></div>
    <ul>
    {{#each listOfGenres}}
    <li id="{{this}}"><a href="?genre={{this}}">{{this}}</a></li>
    {{/each}}
    </ul>
</aside>