<aside>
    <div id="genresLegend"><h1>GENRES</h1></div>
    <ul>
    {{#each listOfGenres}}
    <li id="{{this}}">
        <span>
            <span>
                <a href="?genre={{this}}">{{this}}</a>
            </span>
        </span>
    </li>
    {{/each}}
    </ul>
</aside>