$orangeOp: #ff9900;
$lightBlack: #121212;

footer{
    margin-top: 50px;
    background-color: $orangeOp;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        a, a:link, a:visited, a:active{
            text-decoration: none;
            color: black;
            opacity: 70%;
        }
        
        a:hover{
            opacity: 100%;
        }
    }
}