@import "colors";

html[data-theme="dark"] {
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    height: 150px;
    background-color: $orangeOp;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      a,
      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: black;
        opacity: 70%;
      }

      a:hover {
        opacity: 100%;
      }
    }
  }
}

html[data-theme="light"] {
  footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-color: $lightBlue;
    text-transform: uppercase;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      a,
      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: $primary;
      }

      a:hover {
        color: white;
      }
    }
  }
}
