$orangeOp: #ff9900;
$lightBlack: #121212;
header{
    background-color: $lightBlack;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    
    a, button{
        text-decoration: none;
        color:white;
    }

    button{
        border: none;
        background-color: transparent;
    }

    button:hover, button:focus, button:active {
        box-shadow: none;
        outline: none;
    }
    
    a:hover, button:hover{
        color: $orangeOp;
        text-decoration: none;
        cursor: pointer;
    }

    img{
        display: block;
        width: 200px;
    }

    #userButton, #loginButton, #signinButton {
        display: none;
    }

    #searchFilm{
        color:$orangeOp;
        display: flex;
        width: 450px;
        background-color: transparent;
        align-items: baseline;
        justify-content: space-between;
        padding: 1vh 1vw;  
        border-bottom: 1px solid $orangeOp;
        input[type=text]{
            background-color: $lightBlack;
            text-transform: uppercase;
            width: 100%;
            padding: 0.2vw;
            border-radius: 5px;
            outline: none;
            color: $orangeOp;
            border: transparent;
        }
        i{
            color: orange;
        }
    }

    i{
        margin-right: 1vw;
    }

}
