@import 'colors';

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-track {
  background: none;
  border-left: 1px solid $lightBlack;
}
::-webkit-scrollbar-thumb {
  background: $orangeOp;
  border-radius: 10px;
}
