$orangeOp: #ff9900;
$lightBlack: #121212;

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid $lightBlack;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    border: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $orangeOp; 
    border-radius: 10px;
  }
