@import "colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html[data-theme = "dark"]{
    #login{
        background-image: url("/img/dkLogin.jpg");
        background-repeat: repeat, no-repeat;
        background-size: cover;
    }

    #registration{
        background-image: url("/img/dkRegistration.jpg");
        background-repeat: repeat, no-repeat;
        background-size: cover;
    }

    form {
        background-color: $lightBlack;
        color: white;
        margin: 10vh auto; 
        border-radius: 7px;
        width: 400px;

        #imgLogo{
            width: 400px;
            border-radius: 7px;
        }

        #title{
            font-size: 28px;
            text-align: center;
        }

        .form-group{
            margin: 20px;
            label{
                font-size: 15px;
            }
            .form-control:hover, .form-control:focus{
                box-shadow: 0 0 10px 1px $orangeOp;
                outline: none;
                border: 1px solid $orangeOp;
            }
            .valid:hover,.valid:focus{
                box-shadow: 0 0 10px 1px green;
                border-color: green;
            }
            .invalid:hover,.invalid:focus{
                box-shadow: 0 0 10px 1px red;
                border-color: red;
            }
        }
        .btn{
            text-align: center;
            width: 100%;
            background-color: red;
            color: black;
            letter-spacing: 3px;
            border-radius: 0 0 7px 7px;
        }
        
        .btn:hover, .btn:focus, .btn:active{
            box-shadow: none;
        }

        .alert {
            width: 100%;
            text-align: center;
            border-radius: 7px;
            color: white;
        }
        
        .alert-danger {
            border: 1px solid red;
            background-color: red;
        }

        .alert-success {
            border: 1px solid green;
            background-color: green;
        }
    }
}

html[data-theme = "light"]{
    #login{
        background-image: url("/img/lgLogin.jpg");
        background-repeat: repeat, no-repeat;
        background-size: cover;
    }

    #registration{
        background-image: url("/img/lgRegistration.jpg");
        background-repeat: repeat, no-repeat;
        background-size: cover;
    }

    form {
        background-color: $primary;
        color: $lightBlack;
        border-radius: 7px;
        margin: 10vh auto; 
        width: 400px;

        #imgLogo{
            width: 400px;
            border-radius: 7px;
        }

        #title{
            font-size: 28px;
            text-align: center;
            color: $lightBlue;
        }

        .form-group{
            margin: 20px;
            label{
                font-size: 15px;
                color: $lightBlack
            }
            .form-control:hover, .form-control:focus{
                box-shadow: 0 0 10px 1px $lightBlue;
                outline: none;
                border: 1px solid $lightBlue;
            }
            .valid:hover,.valid:focus{
                box-shadow: 0 0 10px 1px green;
                border-color: green;
            }
            .invalid:hover,.invalid:focus{
                box-shadow: 0 0 10px 1px red;
                border-color: red;
            }
        }
        .btn{
            text-align: center;
            width: 100%;
            background-color: red;
            color: black;
            letter-spacing: 3px;
            border-radius: 0 0 7px 7px;
        }
        
        .btn:hover, .btn:focus, .btn:active{
            box-shadow: none;
        }

        .alert {
            width: 100%;
            text-align: center;
            border-radius: 7px;
            color: $primary;
        }
        
        .alert-danger {
            border: 1px solid red;
            background-color: red;
        }

        .alert-success {
            border: 1px solid green;
            background-color: green;
        }
    }
}
@media only screen and (max-width: 600px) {
    html[data-theme = "dark"]{
        form{
            width: 300px;
            #imgLogo{
                width: 300px;
            }
        }
    }
    html[data-theme = "light"]{
        form{
            width: 300px;
            #imgLogo{
                width: 300px;
            }
        }
    }
  }


