$orangeOp: #ff9900;
$lightBlack: #121212;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#login{
    background-image: url("/img/bgLogin.jpg");
    background-repeat: repeat, no-repeat;
    background-size: cover;
    background-color: red;
}

#registration{
    background-image: url("/img/bgRegistration.jpg");
    background-repeat: repeat, no-repeat;
    background-size: cover;
}

#imgLogo{
    display: block;
    width: 400px;
    border-radius: 7px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
}

form {
    background-color: $lightBlack;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 7px;
    position: absolute;
    width: 400px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);

    #title{
        font-size: 28px;
        text-align: center;
    }

    .form-group{
        label{
            font-size: 15px;
        }
        .form-control:hover, .form-control:focus{
            box-shadow: 0 0 10px 1px $orangeOp;
            outline: none;
            border: 1px solid $orangeOp;
        }
        .valid:hover,.valid:focus{
            box-shadow: 0 0 10px 1px green;
            border-color: green;
        }
        .invalid:hover,.invalid:focus{
            box-shadow: 0 0 10px 1px red;
            border-color: red;
        }
    }
    .btn{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: red;
        color: black;
        letter-spacing: 3px;
        border-radius: 0 0 7px 7px;
    }
    
    .btn:hover, .btn:focus, .btn:active{
        box-shadow: none;
    }

    .alert {
        width: 100%;
        text-align: center;
        border-radius: 7px;
        color: white;
    }
    
    .alert-danger {
        border: 1px solid red;
        background-color: red;
    }

    .alert-success {
        border: 1px solid green;
        background-color: green;
    }
 
}

@media only screen and (max-width: 600px) {
    #imgLogo{
        width: 300px;
    }
    form{
        width: 300px;
    }
  }


