* {
  font-family: Arial, Helvetica, sans-serif;
}

html[data-theme="dark"] header {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

html[data-theme="dark"] header a,
html[data-theme="dark"] header button {
  text-decoration: none;
  color: white;
}

html[data-theme="dark"] header button {
  border: none;
  background-color: transparent;
}

html[data-theme="dark"] header button:hover,
html[data-theme="dark"] header button:focus,
html[data-theme="dark"] header button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html[data-theme="dark"] header a:hover,
html[data-theme="dark"] header button:hover {
  color: #ff9900;
  text-decoration: none;
  cursor: pointer;
}

html[data-theme="dark"] header img {
  display: block;
  width: 200px;
}

html[data-theme="dark"] header #userInteraction #dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px black;
          box-shadow: 0px 8px 16px 0px black;
  border-radius: 5px;
  z-index: 1;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton {
  display: none;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ff9900;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html[data-theme="dark"] header #searchFilm {
  color: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: transparent;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ff9900;
}

html[data-theme="dark"] header #searchFilm input[type="text"] {
  background-color: #121212;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #ff9900;
  border: transparent;
}

html[data-theme="dark"] header #searchFilm i {
  color: orange;
}

html[data-theme="dark"] header i {
  margin-right: 1vw;
}

html[data-theme="light"] header {
  background-color: #68beff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

html[data-theme="light"] header a,
html[data-theme="light"] header button {
  text-decoration: none;
  color: white;
}

html[data-theme="light"] header button {
  border: none;
  background-color: transparent;
}

html[data-theme="light"] header button:hover,
html[data-theme="light"] header button:focus,
html[data-theme="light"] header button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html[data-theme="light"] header a:hover,
html[data-theme="light"] header button:hover {
  text-decoration: none;
  cursor: pointer;
}

html[data-theme="light"] header img {
  display: block;
  width: 200px;
}

html[data-theme="light"] header #userInteraction #dropdown-content {
  display: none;
  position: absolute;
  background-color: #68beff;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px white;
          box-shadow: 0px 8px 16px 0px white;
  border-radius: 5px;
  z-index: 1;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton {
  display: none;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html[data-theme="light"] header #searchFilm {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: transparent;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eeeeee;
}

html[data-theme="light"] header #searchFilm input[type="text"] {
  background-color: #68beff;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #eeeeee;
  border: transparent;
}

html[data-theme="light"] header i {
  margin-right: 1vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* Handle */
html[data-theme="dark"] ::-webkit-scrollbar-track {
  background: none;
  border-left: 1px solid #121212;
}

html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 10px;
}

html[data-theme="light"] ::-webkit-scrollbar-track {
  background: none;
  border-left: 1px solid #68beff;
}

html[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: #68beff;
  border-radius: 10px;
}

html[data-theme="dark"] footer {
  width: 100%;
  height: 150px;
  text-transform: uppercase;
  background-color: #ff9900;
}

html[data-theme="dark"] footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html[data-theme="dark"] footer ul a,
html[data-theme="dark"] footer ul a:link,
html[data-theme="dark"] footer ul a:visited,
html[data-theme="dark"] footer ul a:active {
  text-decoration: none;
  color: black;
  opacity: 70%;
}

html[data-theme="dark"] footer ul a:hover {
  opacity: 100%;
}

html[data-theme="light"] footer {
  width: 100%;
  height: 150px;
  background-color: #68beff;
  text-transform: uppercase;
}

html[data-theme="light"] footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html[data-theme="light"] footer ul a,
html[data-theme="light"] footer ul a:link,
html[data-theme="light"] footer ul a:visited,
html[data-theme="light"] footer ul a:active {
  text-decoration: none;
  color: #eeeeee;
}

html[data-theme="light"] footer ul a:hover {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html[data-theme="dark"] body {
  background-color: black;
}

html[data-theme="dark"] #title {
  margin: 3vw 0 3vh 4vw;
  color: #ff9900;
  letter-spacing: 4px;
}

html[data-theme="dark"] #noFilm {
  border-left: 5px #ff9900 solid;
  text-transform: uppercase;
  margin: 10vh 10vw;
}

html[data-theme="dark"] #noFilm h1 {
  font-size: 10vw;
  color: orange;
}

html[data-theme="dark"] #noFilm h1 span {
  background-color: #ff9900;
  color: black;
}

html[data-theme="dark"] #favouriteFilms {
  border-left: 1px solid #121212;
  margin: 0 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 30px;
}

html[data-theme="dark"] #favouriteFilms .far,
html[data-theme="dark"] #favouriteFilms .fas {
  color: #ff9900;
}

html[data-theme="dark"] #favouriteFilms .card {
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  border: transparent;
  background-color: #121212;
}

html[data-theme="dark"] #favouriteFilms .card img {
  height: 300px;
  width: 200px;
  opacity: 80%;
}

html[data-theme="dark"] #favouriteFilms .card .card-body {
  margin-bottom: 50px;
}

html[data-theme="dark"] #favouriteFilms .card .card-body .card-title {
  color: #ff9900;
}

html[data-theme="dark"] #favouriteFilms .card .card-body .card-text {
  color: white;
}

html[data-theme="dark"] #favouriteFilms .card .btn {
  background-color: #ff9900;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

html[data-theme="dark"] #favouriteFilms .card .btn:hover,
html[data-theme="dark"] #favouriteFilms .card .btn:focus,
html[data-theme="dark"] #favouriteFilms .card .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html[data-theme="dark"] #favouriteFilms .card:hover {
  position: relative;
  bottom: 2vh;
  -webkit-box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
          box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
}

html[data-theme="dark"] #favouriteFilms .card:hover img {
  opacity: 100%;
}

html[data-theme="light"] body {
  background-color: #eeeeee;
}

html[data-theme="light"] #title {
  margin: 3vw 0 3vh 4vw;
  color: #68beff;
  letter-spacing: 4px;
}

html[data-theme="light"] #noFilm {
  border-left: 5px #68beff solid;
  text-transform: uppercase;
  margin: 10vh 10vw;
}

html[data-theme="light"] #noFilm h1 {
  font-size: 10vw;
  color: #68beff;
}

html[data-theme="light"] #noFilm h1 span {
  background-color: #68beff;
  color: #eeeeee;
}

html[data-theme="light"] #favouriteFilms {
  border-left: 1px solid #68beff;
  margin: 0 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 30px;
}

html[data-theme="light"] #favouriteFilms .far,
html[data-theme="light"] #favouriteFilms .fas {
  color: #68beff;
}

html[data-theme="light"] #favouriteFilms .card {
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  border: transparent;
  background-color: white;
}

html[data-theme="light"] #favouriteFilms .card img {
  height: 300px;
  width: 200px;
  opacity: 80%;
}

html[data-theme="light"] #favouriteFilms .card .card-body {
  margin-bottom: 50px;
}

html[data-theme="light"] #favouriteFilms .card .card-body .card-title {
  color: #68beff;
}

html[data-theme="light"] #favouriteFilms .card .card-body .card-text {
  color: #121212;
}

html[data-theme="light"] #favouriteFilms .card .btn {
  background-color: #68beff;
  color: #121212;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

html[data-theme="light"] #favouriteFilms .card .btn:hover,
html[data-theme="light"] #favouriteFilms .card .btn:focus,
html[data-theme="light"] #favouriteFilms .card .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html[data-theme="light"] #favouriteFilms .card:hover {
  position: relative;
  bottom: 2vh;
  -webkit-box-shadow: 0 4px 8px 0 #68beff, 0 6px 20px 0 #68beff;
          box-shadow: 0 4px 8px 0 #68beff, 0 6px 20px 0 #68beff;
}

html[data-theme="light"] #favouriteFilms .card:hover img {
  opacity: 100%;
}

@media only screen and (max-width: 1200px) {
  html[data-theme="dark"] header #searchFilm {
    width: 300px;
  }
  html[data-theme="dark"] #favouriteFilms {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  html[data-theme="light"] header #searchFilm {
    width: 300px;
  }
  html[data-theme="light"] #favouriteFilms {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  html[data-theme="dark"] header {
    padding: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 60%;
  }
  html[data-theme="dark"] header img {
    width: 400px;
  }
  html[data-theme="dark"] #favouriteFilms {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  html[data-theme="light"] header {
    padding: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  html[data-theme="light"] header #searchFilm {
    width: 60%;
  }
  html[data-theme="light"] header img {
    width: 400px;
  }
  html[data-theme="light"] #favouriteFilms {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  html[data-theme="dark"] header {
    row-gap: 15px;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 65%;
  }
  html[data-theme="dark"] header img {
    width: 300px;
  }
  html[data-theme="dark"] #favouriteFilms {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  html[data-theme="light"] header {
    row-gap: 15px;
  }
  html[data-theme="light"] header #searchFilm {
    width: 65%;
  }
  html[data-theme="light"] header img {
    width: 300px;
  }
  html[data-theme="light"] #favouriteFilms {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  html[data-theme="dark"] header {
    row-gap: 10px;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 70%;
  }
  html[data-theme="dark"] header img {
    width: 200px;
  }
  html[data-theme="dark"] #favouriteFilms {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  html[data-theme="light"] header {
    row-gap: 10px;
  }
  html[data-theme="light"] header #searchFilm {
    width: 70%;
  }
  html[data-theme="light"] header img {
    width: 200px;
  }
  html[data-theme="light"] #favouriteFilms {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=favFilms.css.map */