header {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

header a, header button {
  text-decoration: none;
  color: white;
}

header button {
  border: none;
  background-color: transparent;
}

header button:hover, header button:focus, header button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header a:hover, header button:hover {
  color: #ff9900;
  text-decoration: none;
  cursor: pointer;
}

header img {
  display: block;
  width: 200px;
}

header #userButton, header #loginButton, header #signinButton, header #logoutButton {
  display: none;
  position: relative;
  padding-bottom: 5px;
}

header #userButton:before, header #loginButton:before, header #signinButton:before, header #logoutButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ff9900;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header #userButton:hover:before, header #loginButton:hover:before, header #signinButton:hover:before, header #logoutButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header #searchFilm {
  color: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: transparent;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ff9900;
}

header #searchFilm input[type=text] {
  background-color: #121212;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #ff9900;
  border: transparent;
}

header #searchFilm i {
  color: orange;
}

header i {
  margin-right: 1vw;
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid #121212;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 10px;
}

footer {
  margin-top: 50px;
  background-color: #ff9900;
}

footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul a, footer ul a:link, footer ul a:visited, footer ul a:active {
  text-decoration: none;
  color: black;
  opacity: 70%;
}

footer ul a:hover {
  opacity: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

#title {
  margin: 3vw 0 3vh 4vw;
  color: #ff9900;
  letter-spacing: 4px;
}

#whatToWatch {
  border-left: 1px solid #121212;
  margin: 0 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 30px;
}

#whatToWatch .far, #whatToWatch .fas {
  color: #ff9900;
}

#whatToWatch .card {
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  border: transparent;
  background-color: #121212;
}

#whatToWatch .card ::-webkit-scrollbar {
  width: 2px;
  margin-left: 5px;
}

#whatToWatch .card ::-webkit-scrollbar-track {
  background: none;
  border: none;
}

#whatToWatch .card ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff9900;
}

#whatToWatch .card img {
  height: 300px;
  width: 200px;
  opacity: 40%;
}

#whatToWatch .card .card-body {
  margin-bottom: 50px;
}

#whatToWatch .card .card-body .card-title {
  color: #ff9900;
}

#whatToWatch .card .card-body .card-label {
  color: #ff9900;
  margin: 0;
}

#whatToWatch .card .card-body .card-text {
  color: white;
  margin: 0 0 10px 0;
}

#whatToWatch .card .card-body #plot {
  height: 200px;
  overflow-y: auto;
}

#whatToWatch .card .card-body #genre {
  height: 50px;
  overflow: hidden;
}

#whatToWatch .card .btn {
  background-color: #ff9900;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

#whatToWatch .card .btn:hover, #whatToWatch .card .btn:focus, #whatToWatch .card .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#whatToWatch .card:hover {
  position: relative;
  bottom: 2vh;
  -webkit-box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
          box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
}

#whatToWatch .card:hover img {
  opacity: 100%;
}

@media only screen and (max-width: 1200px) {
  #whatToWatch {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  header #searchFilm {
    width: 60%;
  }
  header img {
    width: 400px;
  }
  #whatToWatch {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  header {
    gap: 15px;
  }
  header #searchFilm {
    width: 65%;
  }
  header img {
    width: 300px;
  }
  #whatToWatch {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  header #searchFilm {
    width: 70%;
  }
  header img {
    width: 200px;
  }
  #whatToWatch {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=index.css.map */