* {
  font-family: Arial, Helvetica, sans-serif;
}

html[data-theme="dark"] header {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

html[data-theme="dark"] header a,
html[data-theme="dark"] header button {
  text-decoration: none;
  color: white;
}

html[data-theme="dark"] header button {
  border: none;
  background-color: transparent;
}

html[data-theme="dark"] header button:hover,
html[data-theme="dark"] header button:focus,
html[data-theme="dark"] header button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html[data-theme="dark"] header a:hover,
html[data-theme="dark"] header button:hover {
  color: #ff9900;
  text-decoration: none;
  cursor: pointer;
}

html[data-theme="dark"] header img {
  display: block;
  width: 200px;
}

html[data-theme="dark"] header #userInteraction #dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px black;
          box-shadow: 0px 8px 16px 0px black;
  border-radius: 5px;
  z-index: 1;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #modeButton {
  padding: 0 0 5px 0 !important;
  margin: 0 0 5px 0 !important;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton {
  display: none;
  position: relative;
  padding: 0 0 5px 0 !important;
  margin: 0 0 5px 0 !important;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ff9900;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[data-theme="dark"] header #userInteraction #dropdown-content #userButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #loginButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #signinButton:hover:before,
html[data-theme="dark"] header #userInteraction #dropdown-content #logoutButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html[data-theme="dark"] header #searchFilm {
  color: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: transparent;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ff9900;
}

html[data-theme="dark"] header #searchFilm input[type="text"] {
  background-color: #121212;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #ff9900;
  border: transparent;
}

html[data-theme="dark"] header #searchFilm i {
  color: orange;
}

html[data-theme="dark"] header i {
  margin-right: 1vw;
}

html[data-theme="light"] header {
  background-color: #68beff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

html[data-theme="light"] header a,
html[data-theme="light"] header button {
  text-decoration: none;
  color: white;
}

html[data-theme="light"] header button {
  border: none;
  background-color: transparent;
}

html[data-theme="light"] header button:hover,
html[data-theme="light"] header button:focus,
html[data-theme="light"] header button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html[data-theme="light"] header a:hover,
html[data-theme="light"] header button:hover {
  text-decoration: none;
  cursor: pointer;
}

html[data-theme="light"] header img {
  display: block;
  width: 200px;
}

html[data-theme="light"] header #userInteraction #dropdown-content {
  display: none;
  position: absolute;
  background-color: #68beff;
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px white;
          box-shadow: 0px 8px 16px 0px white;
  border-radius: 5px;
  z-index: 1;
}

html[data-theme="light"] header #userInteraction #dropdown-content #modeButton {
  padding: 0 0 5px 0 !important;
  margin: 0 0 5px 0 !important;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton {
  display: none;
  position: relative;
  padding: 0 0 5px 0 !important;
  margin: 0 0 5px 0 !important;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton:before,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[data-theme="light"] header #userInteraction #dropdown-content #userButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #loginButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #signinButton:hover:before,
html[data-theme="light"] header #userInteraction #dropdown-content #logoutButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html[data-theme="light"] header #searchFilm {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  background-color: transparent;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eeeeee;
}

html[data-theme="light"] header #searchFilm input[type="text"] {
  background-color: #68beff;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #eeeeee;
  border: transparent;
}

html[data-theme="light"] header i {
  margin-right: 1vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* Handle */
html[data-theme="dark"] ::-webkit-scrollbar-track {
  background: none;
  border-left: 1px solid #121212;
}

html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 10px;
}

html[data-theme="light"] ::-webkit-scrollbar-track {
  background: none;
  border-left: 1px solid #68beff;
}

html[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: #68beff;
  border-radius: 10px;
}

html[data-theme="dark"] footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  height: 150px;
  background-color: #ff9900;
}

html[data-theme="dark"] footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html[data-theme="dark"] footer ul a,
html[data-theme="dark"] footer ul a:link,
html[data-theme="dark"] footer ul a:visited,
html[data-theme="dark"] footer ul a:active {
  text-decoration: none;
  color: black;
  opacity: 70%;
}

html[data-theme="dark"] footer ul a:hover {
  opacity: 100%;
}

html[data-theme="light"] footer {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background-color: #68beff;
  text-transform: uppercase;
}

html[data-theme="light"] footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html[data-theme="light"] footer ul a,
html[data-theme="light"] footer ul a:link,
html[data-theme="light"] footer ul a:visited,
html[data-theme="light"] footer ul a:active {
  text-decoration: none;
  color: #eeeeee;
}

html[data-theme="light"] footer ul a:hover {
  color: white;
}

html[data-theme="dark"] h1 {
  margin: 0;
}

html[data-theme="dark"] body {
  background-color: black;
  position: relative;
  padding-bottom: 200px;
}

html[data-theme="dark"] main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [sidebar] 20% [main] 80%;
      grid-template-columns: [sidebar] 20% [main] 80%;
  margin: 0 10px;
}

html[data-theme="dark"] aside {
  grid-area: sidebar;
  margin: 10px 0 0 10px;
}

html[data-theme="dark"] aside ::-webkit-scrollbar {
  width: 4px;
}

html[data-theme="dark"] aside ::-webkit-scrollbar-corner {
  background-color: transparent;
}

html[data-theme="dark"] aside ::-webkit-scrollbar-track {
  border: none;
}

html[data-theme="dark"] aside #genresLegend {
  text-align: right;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ff9900;
}

html[data-theme="dark"] aside #genresLegend h1 {
  color: #ff9900;
  font-size: 2.5vw;
}

html[data-theme="dark"] aside #genresLegend h1 i {
  color: #ff9900;
  font-size: 2.5vw;
}

html[data-theme="dark"] aside ul {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  list-style-type: none;
  direction: rtl;
  height: 100vh;
  overflow: scroll;
}

html[data-theme="dark"] aside ul li {
  background-color: #121212;
  direction: ltr;
  padding: 10px;
  margin: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="dark"] aside ul li a {
  text-decoration: none;
  color: #918f8f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

html[data-theme="dark"] aside ul li:hover {
  background-color: black;
}

html[data-theme="dark"] aside ul li:hover a {
  color: #ff9900;
}

html[data-theme="dark"] section {
  grid-area: main;
}

html[data-theme="dark"] section .genre {
  color: #ff9900;
  background-color: #121212;
  font-size: 3.5vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

html[data-theme="dark"] section #slogan {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #121212;
  text-align: center;
}

html[data-theme="dark"] section #slogan h2 {
  color: white;
}

html[data-theme="dark"] section #slogan h1 {
  color: #ff9900;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#68beff), color-stop(50%, #68beff), color-stop(50%, #ff9900));
  background: linear-gradient(to right, #68beff, #68beff 50%, #ff9900 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 1s ease;
  transition: background-position 1s ease;
}

html[data-theme="dark"] section #slogan h1:hover {
  background-position: 0 100%;
}

html[data-theme="dark"] section #slogan img {
  margin-bottom: 8px;
}

html[data-theme="dark"] section .module-border-wrap {
  width: 75%;
  margin: 50px auto;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9900), to(#68beff));
  background: linear-gradient(to right, #ff9900, #68beff);
}

html[data-theme="dark"] article {
  border-left: 1px solid #ff9900;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
  row-gap: 30px;
  margin-bottom: 30px;
}

html[data-theme="dark"] article .far,
html[data-theme="dark"] article .fas {
  color: #ff9900;
}

html[data-theme="dark"] article .card {
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  border: transparent;
  background-color: #121212;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="dark"] article .card ::-webkit-scrollbar {
  width: 2px;
  margin-left: 5px;
}

html[data-theme="dark"] article .card ::-webkit-scrollbar-track {
  background: none;
  border: none;
}

html[data-theme="dark"] article .card ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff9900;
}

html[data-theme="dark"] article .card img {
  height: 300px;
  width: 200px;
  opacity: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="dark"] article .card .card-body {
  margin-bottom: 50px;
}

html[data-theme="dark"] article .card .card-body .card-title {
  background-color: #ff9900;
  color: #121212;
  text-align: center;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html[data-theme="dark"] article .card .card-body .card-label {
  color: #ff9900;
  margin: 0;
}

html[data-theme="dark"] article .card .card-body .card-text {
  color: white;
  margin: 0 0 10px 0;
}

html[data-theme="dark"] article .card .card-body #plot {
  height: 180px;
  overflow-y: auto;
}

html[data-theme="dark"] article .card .card-body #filmGenre {
  height: 50px;
  overflow: hidden;
}

html[data-theme="dark"] article .card .btn {
  background-color: #ff9900;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

html[data-theme="dark"] article .card .btn:hover,
html[data-theme="dark"] article .card .btn:focus,
html[data-theme="dark"] article .card .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html[data-theme="dark"] article .card:hover {
  position: relative;
  bottom: 15px;
  -webkit-box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
          box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
}

html[data-theme="dark"] article .card:hover img {
  opacity: 100%;
}

html[data-theme="light"] h1 {
  margin: 0;
}

html[data-theme="light"] body {
  background-color: #eeeeee;
  position: relative;
  padding-bottom: 200px;
}

html[data-theme="light"] main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [sidebar] 20% [main] 80%;
      grid-template-columns: [sidebar] 20% [main] 80%;
  margin: 0 10px;
}

html[data-theme="light"] aside {
  grid-area: sidebar;
  margin: 10px 0 0 10px;
}

html[data-theme="light"] aside ::-webkit-scrollbar {
  width: 4px;
}

html[data-theme="light"] aside ::-webkit-scrollbar-corner {
  background-color: transparent;
}

html[data-theme="light"] aside ::-webkit-scrollbar-track {
  border: none;
}

html[data-theme="light"] aside #genresLegend {
  text-align: right;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #68beff;
}

html[data-theme="light"] aside #genresLegend h1 {
  color: #68beff;
  font-size: 2.5vw;
}

html[data-theme="light"] aside #genresLegend h1 i {
  color: #68beff;
  font-size: 2.5vw;
}

html[data-theme="light"] aside ul {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  list-style-type: none;
  direction: rtl;
  height: 100vh;
  overflow: scroll;
}

html[data-theme="light"] aside ul li {
  background-color: white;
  direction: ltr;
  padding: 10px;
  margin: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="light"] aside ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

html[data-theme="light"] aside ul li:hover {
  background-color: #eeeeee;
}

html[data-theme="light"] aside ul li:hover a {
  color: #68beff;
}

html[data-theme="light"] section {
  grid-area: main;
}

html[data-theme="light"] section .genre {
  color: #68beff;
  background-color: white;
  font-size: 3.5vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

html[data-theme="light"] #slogan {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

html[data-theme="light"] #slogan h2 {
  color: black;
}

html[data-theme="light"] #slogan h1 {
  color: #68beff;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#ff9900), color-stop(50%, #ff9900), color-stop(50%, #68beff));
  background: linear-gradient(to right, #ff9900, #ff9900 50%, #68beff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 500ms ease;
  transition: background-position 500ms ease;
}

html[data-theme="light"] #slogan h1:hover {
  background-position: 0 100%;
}

html[data-theme="light"] #slogan img {
  margin-bottom: 8px;
}

html[data-theme="light"] .module-border-wrap {
  width: 75%;
  margin: 50px auto;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9900), to(#68beff));
  background: linear-gradient(to right, #ff9900, #68beff);
}

html[data-theme="light"] article {
  border-left: 1px solid #68beff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 30px;
}

html[data-theme="light"] article .far,
html[data-theme="light"] article .fas {
  color: #68beff;
}

html[data-theme="light"] article .card {
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  border: transparent;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="light"] article .card ::-webkit-scrollbar {
  width: 2px;
  margin-left: 5px;
}

html[data-theme="light"] article .card ::-webkit-scrollbar-track {
  background: none;
  border: none;
}

html[data-theme="light"] article .card ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #68beff;
}

html[data-theme="light"] article .card img {
  height: 300px;
  width: 200px;
  opacity: 80%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[data-theme="light"] article .card .card-body {
  margin-bottom: 50px;
}

html[data-theme="light"] article .card .card-body .card-title {
  background-color: #68beff;
  color: white;
  text-align: center;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html[data-theme="light"] article .card .card-body .card-label {
  color: #68beff;
  margin: 0;
}

html[data-theme="light"] article .card .card-body .card-text {
  color: #121212;
  margin: 0 0 10px 0;
}

html[data-theme="light"] article .card .card-body #plot {
  height: 180px;
  overflow-y: auto;
}

html[data-theme="light"] article .card .card-body #filmGenre {
  height: 50px;
  overflow: hidden;
}

html[data-theme="light"] article .card .btn {
  background-color: #68beff;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

html[data-theme="light"] article .card .btn:hover,
html[data-theme="light"] article .card .btn:focus,
html[data-theme="light"] article .card .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html[data-theme="light"] article .card:hover {
  position: relative;
  bottom: 15px;
  -webkit-box-shadow: 0 4px 8px 0 #68beff, 0 6px 20px 0 #68beff;
          box-shadow: 0 4px 8px 0 #68beff, 0 6px 20px 0 #68beff;
}

html[data-theme="light"] article .card:hover img {
  opacity: 100%;
}

@media only screen and (max-width: 1600px) {
  html[data-theme="light"] article {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  html[data-theme="dark"] article {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 1200px) {
  html[data-theme="light"] header #searchFilm {
    width: 300px;
  }
  html[data-theme="light"] article {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 300px;
  }
  html[data-theme="dark"] article {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 800px) {
  html[data-theme="dark"] header {
    row-gap: 15px;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 65%;
  }
  html[data-theme="dark"] header img {
    width: 300px;
  }
  html[data-theme="dark"] article {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    border-left: 1px solid #ff9900;
  }
  html[data-theme="dark"] article .card img {
    opacity: 100%;
  }
  html[data-theme="dark"] #title {
    font-size: 20px;
  }
  html[data-theme="light"] header {
    row-gap: 15px;
  }
  html[data-theme="light"] header #searchFilm {
    width: 65%;
  }
  html[data-theme="light"] header img {
    width: 300px;
  }
  html[data-theme="light"] article {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  html[data-theme="light"] article .card img {
    opacity: 100%;
  }
  html[data-theme="light"] #title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  html[data-theme="dark"] header {
    row-gap: 10px;
  }
  html[data-theme="dark"] header #searchFilm {
    width: 70%;
  }
  html[data-theme="dark"] header img {
    width: 200px;
  }
  html[data-theme="dark"] article {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  html[data-theme="light"] header {
    row-gap: 10px;
  }
  html[data-theme="light"] header #searchFilm {
    width: 70%;
  }
  html[data-theme="light"] header img {
    width: 200px;
  }
  html[data-theme="light"] article {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=index.css.map */