@import "navbar";
@import "scrollbar";
@import "footer";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//------------------------------------------------------------------------------------------------
html[data-theme="dark"] {
  body {
    background-color: black;
  }

  #filmNotFound {
    padding: 0;
    border-right: 5px $orangeOp solid;
    text-transform: uppercase;
    margin: 10vh 10vw;
    h1 {
      font-size: 8vw;
      color: orange;
      text-align: right;
      span {
        background-color: $orangeOp;
        color: black;
      }
    }
  }

  #specificFilm {
    display: flex;
    flex-direction: row;
    background-color: $lightBlack;
    width: 90%;
    margin: 50px auto;
    padding: 20px;

    img {
      border: 1px solid $orangeOp;
      margin-right: 20px;
      width: 300px;
      height: 450px;
    }
    #filmInformation {
      #title {
        line-height: 60px;
        color: black;
        font-size: 40px;
        background-color: $orangeOp;
        display: inline;
        text-transform: uppercase;
        letter-spacing: 0.5vw;
        padding: 0 1vw;
      }
      #plot {
        font-size: 20px;
        margin: 2vh 0;
        padding: 0 1vw;
        color: white;
        border-left: 1px solid $orangeOp;
      }

      h5 {
        font-size: 15px;
        padding: 0 10px;
        color: white;
        border-left: 1px solid $orangeOp;
      }

      #textRating {
        display: inline;
        background-color: $orangeOp;
        color: black;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 5px;
      }

      #starRating {
        padding: 5px;
        .fa-star {
          cursor: pointer;
        }
        .far {
          color: black;
        }
        .fas {
          color: $orangeOp;
        }
      }

      #rating {
        background-color: $orangeOp;
        color: black;
        margin-left: 5px;
        padding: 5px;
        border-radius: 5px;
        .fas {
          color: black;
        }
      }

      #serverResponse {
        display: inline;
        color: black;
        border-radius: 5px;
        text-indent: 5px;
        padding: 5px;
      }
    }
  }
}

//-------------------------------------------------------------------------------------------------------------
html[data-theme="light"] {
  body {
    background-color: $primary;
  }

  #filmNotFound {
    padding: 0;
    border-right: 5px $lightBlue solid;
    text-transform: uppercase;
    margin: 10vh 10vw;
    h1 {
      font-size: 8vw;
      color: $lightBlue;
      text-align: right;
      span {
        background-color: $lightBlue;
        color: white;
      }
    }
  }

  #specificFilm {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 90%;
    margin: 50px auto;
    padding: 20px;

    img {
      border: 1px solid $lightBlue;
      margin-right: 20px;
      width: 300px;
      height: 450px;
    }
    #filmInformation {
      #title {
        line-height: 60px;
        color: black;
        font-size: 40px;
        background-color: $lightBlue;
        display: inline;
        text-transform: uppercase;
        letter-spacing: 0.5vw;
        padding: 0 1vw;
      }
      #plot {
        font-size: 20px;
        margin: 2vh 0;
        padding: 0 1vw;
        color: $lightBlack;
        border-left: 1px solid $lightBlue;
      }

      h5 {
        font-size: 15px;
        padding: 0 10px;
        color: $lightBlack;
        border-left: 1px solid $lightBlue;
      }

      #textRating {
        display: inline;
        background-color: $lightBlue;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 5px;
      }

      #starRating {
        color: $lightBlue;
        padding: 5px;
        .fa-star {
          cursor: pointer;
        }
      }

      #rating {
        background-color: $lightBlue;
        color: black;
        margin-left: 5px;
        padding: 5px;
        border-radius: 5px;
      }

      #serverResponse {
        display: inline;
        color: black;
        border-radius: 5px;
        text-indent: 5px;
        padding: 5px;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------

@media only screen and (max-width: 1200px) {
  html[data-theme="light"] {
    header {
      #searchFilm {
        width: 300px;
      }
    }
    #specificFilm {
      #filmInformation {
        #serverResponse {
          display: inline-block;
        }
      }
    }
  }
  html[data-theme="dark"] {
    header {
      #searchFilm {
        width: 300px;
      }
    }
    #specificFilm {
      #filmInformation {
        #serverResponse {
          display: inline-block;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  html[data-theme="dark"] {
    header {
      flex-direction: column;
      row-gap: 20px;
      padding: 30px 0px;
      #searchFilm {
        width: 60%;
      }
      img {
        width: 400px;
      }
    }
    #specificFilm {
      #filmInformation {
        #title {
          font-size: 30px;
          line-height: 50px;
        }
        #textRating {
          display: inline-block;
          border: none;
        }
      }
    }
  }
  html[data-theme="light"] {
    header {
      flex-direction: column;
      row-gap: 20px;
      padding: 30px 0px;
      #searchFilm {
        width: 60%;
      }
      img {
        width: 400px;
      }
    }
    #specificFilm {
      #filmInformation {
        #title {
          font-size: 30px;
          line-height: 50px;
        }
        #textRating {
          display: inline-block;
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html[data-theme="dark"] {
    header {
      row-gap: 15px;
      #searchFilm {
        width: 65%;
      }
      img {
        width: 300px;
      }
    }
    #specificFilm {
      flex-direction: column;
      img {
        margin: 0 auto 20px auto;
        width: 50%;
        height: 50%;
      }
    }
  }
  html[data-theme="light"] {
    header {
      row-gap: 15px;
      #searchFilm {
        width: 65%;
      }
      img {
        width: 300px;
      }
    }
    #specificFilm {
      flex-direction: column;
      img {
        margin: 0 auto 20px auto;
        width: 50%;
        height: 50%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  html[data-theme="dark"] {
    header {
      row-gap: 10px;
      #searchFilm {
        width: 70%;
      }
      img {
        width: 200px;
      }
    }
    #specificFilm {
      img {
        width: 70%;
        height: 70%;
      }
    }
  }
  html[data-theme="light"] {
    header {
      row-gap: 10px;
      #searchFilm {
        width: 70%;
      }
      img {
        width: 200px;
      }
    }
    #specificFilm {
      img {
        width: 70%;
        height: 70%;
      }
    }
  }
}
