@import 'navbar';
@import 'scrollbar';
$orangeOp: #ff9900;
$lightBlack: #121212;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

//------------------------------------------------------------------------------------------------

#searchFilms{background-color: black;}
#specificFilm, #favouriteFilms{
    display: flex;
    flex-direction: row;
    background-color: $lightBlack;
    margin: 5vw;
    border: 1px solid $orangeOp;
    padding: 2.5vw;
    box-shadow: 0 0 20px 4px $orangeOp;
    img{
        border: 1px solid $orangeOp;
        margin-right: 2vw;
        width: 200px;
    }
    #filmInformation{
        #title{
            color:black;
            font-size: 40px;
            background-color: $orangeOp;
            display: inline;
            text-transform: uppercase;
            letter-spacing: 0.5vw;
            border: 1px solid black;
            padding: 0 1vw;
        }
        #plot{
            font-size: 20px;
            margin: 2vh 0;
            padding: 0 1vw;
            color: white;
            border-left: 1px solid $orangeOp;
        }

        h5, #starRating{
            font-size: 15px;
            padding: 0 1vw;
            color: white;
            border-left: 1px solid $orangeOp;
        }
    }
}

@media only screen and (max-width: 992px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    #specificFilm{
        flex-direction: column;
        img{
            margin: 20px auto;
            width: 300px;
            box-shadow: 0 0 10px 2px $orangeOp;
        }
    }
  } 