$orangeOp: #ff9900;
$lightBlack: #121212;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    background-color: $lightBlack;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;

    a{
        text-decoration: none;
        color:white;
    }
    
    a:hover{
        color: $orangeOp;
        text-decoration: none;
    }

    img{
        height: 8vh;
    }

    #divSearch{
        color:$orangeOp;
        background-color: white;
        border-radius: 5px;
        padding: 1vh 1vw;  
        input[type=text]{
            padding: 0.2vw;
            font-size: 1.2vw;
            width: 40vw;
            border-radius: 5px;
            outline: none;
            color: $orangeOp;
            border: transparent;
        }      
    }
    
    #divSearch:hover{
        border: 0.2vw solid $orangeOp;
    }

    i{
        margin-right: 1vw;
    }

}
#wtwTitle{
    margin: 3vw 0 3vh 4vw;
    color: $orangeOp;
    letter-spacing: 0.3vw;
}
#whatToWatch{
    border-left: 1px solid $lightBlack;
    margin: 0 4vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    justify-items: center;
    padding: 1vw 0;
    row-gap: 4vh;

    .card{
        width: 200px;
        display: inline-block;
        background-color: $lightBlack;
        color: white;
        opacity: 60%;
        

        img{
            display: block;
            position: relative;
            right: 1px;              //altrimenti il poster esce di poco a destra
            bottom: 1px;
            width: 200px;
            height: 300px;
        }

        .card-title{
            color: white;
        }

        .btn{
            background-color: black;
            color: white;
        }
    }

    .card:hover{
        opacity: 100%;
        position: relative;
        bottom: 2vh;
        box-shadow: 0 4px 8px 0 $orangeOp, 0 6px 20px 0 $orangeOp;
    }
}
