* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #ff9900;
  text-decoration: none;
}

header img {
  height: 8vh;
}

header #divSearch {
  color: #ff9900;
  background-color: white;
  border-radius: 5px;
  padding: 1vh 1vw;
}

header #divSearch input[type=text] {
  padding: 0.2vw;
  font-size: 1.2vw;
  width: 40vw;
  border-radius: 5px;
  outline: none;
  color: #ff9900;
  border: transparent;
}

header #divSearch:hover {
  border: 0.2vw solid #ff9900;
}

header i {
  margin-right: 1vw;
}

#wtwTitle {
  margin: 3vw 0 3vh 4vw;
  color: #ff9900;
  letter-spacing: 0.3vw;
}

#whatToWatch {
  border-left: 1px solid #121212;
  margin: 0 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 4vh;
}

#whatToWatch .card {
  width: 200px;
  display: inline-block;
  background-color: #121212;
  color: white;
  opacity: 50%;
}

#whatToWatch .card img {
  display: block;
  position: relative;
  right: 1px;
  bottom: 1px;
  width: 200px;
  height: 300px;
}

#whatToWatch .card .card-title {
  color: white;
}

#whatToWatch .card .btn {
  background-color: black;
  color: white;
}

#whatToWatch .card:hover {
  opacity: 100%;
  position: relative;
  bottom: 2vh;
  -webkit-box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
          box-shadow: 0 4px 8px 0 #ff9900, 0 6px 20px 0 #ff9900;
}

#searchFilms {
  background-image: url("../img/lol.jpg");
}

#specificFilm {
  display: -ms-grid;
  display: grid;
  background-color: #121212;
  margin: 5vw;
  border: 1px solid #ff9900;
  padding: 2.5vw;
  -webkit-box-shadow: 0 0 20px 4px #ff9900;
          box-shadow: 0 0 20px 4px #ff9900;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  overflow: auto;
}

#specificFilm img {
  border: 1px solid #ff9900;
  margin-right: 2vw;
}

#specificFilm #title {
  color: black;
  font-size: 40px;
  background-color: #ff9900;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  border: 1px solid black;
  padding: 0 1vw;
}

#specificFilm #plot {
  font-size: 20px;
  margin: 2vh 0;
  padding: 0 1vw;
  color: white;
  border-left: 1px solid #ff9900;
}

#specificFilm #genre, #specificFilm #runtime, #specificFilm #director, #specificFilm #actors, #specificFilm #awards, #specificFilm #imdbRating {
  font-size: 15px;
  padding: 0 1vw;
  color: white;
  border-left: 1px solid #ff9900;
}
/*# sourceMappingURL=style.css.map */