@import 'colors';

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
  background-color: $orangeOp;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a,
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: black;
      opacity: 70%;
    }

    a:hover {
      opacity: 100%;
    }
  }
  .footer-copyright i {
    color: red;
  }
}
