@import "navbar";
@import "scrollbar";
@import "footer";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//------------------------------------------------------------------------------------------------
body {
  background-color: black;
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

#filmNotFound {
  padding: 0;
  border-right: 5px $orangeOp solid;
  text-transform: uppercase;
  margin: 10vh 10vw;
  h1 {
    font-size: 8vw;
    color: orange;
    text-align: right;
    span {
      background-color: $orangeOp;
      color: black;
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#specificFilm {
  display: flex;
  flex-direction: row;
  background-color: $lightBlack;
  width: 90%;
  margin: 50px auto 0;
  padding: 20px;

  img {
    border: 1px solid $orangeOp;
    margin-right: 20px;
    width: 300px;
    height: 450px;
  }
  #filmInformation {
    height: 100%;
    #title {
      line-height: 60px;
      color: black;
      font-size: 40px;
      background-color: $orangeOp;
      display: inline;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      padding: 0 1vw;
    }
    #plot {
      font-size: 20px;
      margin: 20px 0;
      padding: 0 10px;
      color: white;
      border-left: 1px solid $orangeOp;
    }

    h5 {
      font-size: 15px;
      padding: 0 10px;
      color: white;
      border-left: 1px solid $orangeOp;
    }

    #vote {
      margin-top: 20px;
      #textRating {
        display: inline;
        background-color: $orangeOp;
        color: black;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 5px;
        font-size: 20px;
      }
      .fas {
        color: black;
        font-size: 20px;
        cursor: pointer;
      }

      .fa-thumbs-up,
      .fa-thumbs-down {
        transition: color 0.5s;
        margin-left: 10px;
      }
      .fa-thumbs-up:hover {
        color: green;
      }
      .fa-thumbs-down:hover {
        color: red;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------

@media only screen and (max-width: 1200px) {
  header {
    #searchFilm {
      width: 300px;
    }
  }
  #specificFilm {
    #filmInformation {
      #serverResponse {
        display: inline-block;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  header {
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 0px;
    #searchFilm {
      width: 60%;
    }
    img {
      width: 400px;
    }
  }
  #specificFilm {
    #filmInformation {
      #title {
        font-size: 30px;
        line-height: 50px;
      }
      #textRating {
        display: inline-block;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    row-gap: 15px;
    #searchFilm {
      width: 65%;
    }
    img {
      width: 300px;
    }
  }
  #specificFilm {
    flex-direction: column;
    img {
      margin: 0 auto 20px auto;
      width: 50%;
      height: 50%;
    }
  }
}
@media only screen and (max-width: 600px) {
  header {
    row-gap: 10px;
    #searchFilm {
      width: 70%;
    }
    img {
      width: 200px;
    }
  }
  #specificFilm {
    img {
      width: 70%;
      height: 70%;
    }
  }
}
