@import "navbar";
@import "scrollbar";
@import "footer";
@import "colors";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

#noFilm {
  border-left: 5px $orangeOp solid;
  text-transform: uppercase;
  margin: 10vh 10vw;
  //height: 100vh;
  h1 {
    font-size: 10vw;
    color: orange;
    span {
      background-color: $orangeOp;
      color: black;
    }
  }
}

#filterGenres {
  margin: auto;
  display: none;
  background-color: $lightBlack;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 2px;
  background-size: 200% 200%;
  text-align: center;
  background-image: linear-gradient(to top, black 50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease,
    border-color 300ms ease;
}
#filterGenres:hover {
  border-color: black;
  background-image: linear-gradient(to top, black 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 300ms, color 300ms ease,
    border-color 300ms ease;
}

#allGenres {
  display: none;
  margin: 5%;
  ul {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-template-columns: 33% 33% auto;
    li {
      padding: 5px;
      border: 1px solid $orangeOp;
      background-size: 200% 200%;
      text-align: center;
      background-image: linear-gradient(to top, $orangeOp 50%, transparent 50%);
      transition: background-position 300ms, color 300ms ease,
        border-color 300ms ease;
      direction: ltr;
      transition: 0.5s;

      text-decoration: none;
      color: rgb(145, 143, 143);
      transition: 0.5s;
      cursor: pointer;
    }
    li:hover {
      color: black;
      background-image: linear-gradient(to top, $orangeOp 51%, transparent 50%);
      background-position: 0 100%;
      transition: background-position 300ms, color 300ms ease,
        border-color 300ms ease;
    }
  }
}

main {
  display: grid;
  grid-template-columns: [genres]20% [films]80%;
  margin: 30px 10px;
}

.user-genres {
  grid-area: genres;
  margin: 10px 0;
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    border: none;
  }

  #genresLegend {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $orangeOp;
    h1 {
      color: $orangeOp;
      font-size: 30px;
    }
  }
  ul {
    list-style-type: none;
    direction: rtl;
    height: 100vh;
    overflow: scroll;
    padding: 0;
    li {
      background-size: 200% 200%;
      text-align: center;
      background-image: linear-gradient(to top, $orangeOp 50%, transparent 50%);
      transition: background-position 300ms, color 300ms ease,
        border-color 300ms ease;
      direction: ltr;
      padding: 10px;
      margin: 5%;
      transition: 0.5s;

      text-decoration: none;
      color: rgb(145, 143, 143);
      transition: 0.5s;
      cursor: pointer;
    }
    li:hover {
      border-color: $orangeOp;
      color: black;
      background-image: linear-gradient(to top, $orangeOp 51%, transparent 50%);
      background-position: 0 100%;
      transition: background-position 300ms, color 300ms ease,
        border-color 300ms ease;
    }
  }
}

.user-films {
  grid-area: films;
  margin: 10px 0;
  #title {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $orangeOp;
    h1 {
      color: $orangeOp;
      font-size: 30px;
      i {
        color: $orangeOp;
        font-size: 30px;
      }
    }
  }
}

#favouriteFilms {
  border-left: 1px solid $orangeOp;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  padding: 1vw 0;
  row-gap: 30px;

  .far,
  .fas {
    color: $orangeOp;
  }
  .card {
    width: 200px;
    border-radius: 4px;
    display: inline-block;
    border: transparent;
    background-color: $lightBlack;

    img {
      height: 300px;
      width: 200px;
      opacity: 80%;
    }

    .card-body {
      .card-title {
        color: $orangeOp;
      }
      .card-text {
        color: white;
      }
    }

    .btn {
      background-color: $orangeOp;
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 4px 4px;
    }

    .btn:hover,
    .btn:focus,
    .btn:active {
      box-shadow: none;
    }
  }

  .card:hover {
    img {
      opacity: 100%;
    }
    position: relative;
    bottom: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  header {
    #searchFilm {
      width: 300px;
    }
  }
  #favouriteFilms {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 30px 0px;
    flex-direction: column;
    row-gap: 20px;
    #searchFilm {
      width: 60%;
    }
    img {
      width: 400px;
    }
  }
  #filterGenres {
    display: block;
  }
  main {
    grid-template-columns: [films]100%;
    .card {
      .card-title {
        font-size: 18px;
      }
    }
  }
  aside {
    display: none;
  }
  #favouriteFilms {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 800px) {
  header {
    row-gap: 15px;
    #searchFilm {
      width: 65%;
    }
    img {
      width: 300px;
    }
  }
  #favouriteFilms {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    row-gap: 10px;
    #searchFilm {
      width: 70%;
    }
    img {
      width: 200px;
    }
  }

  #favouriteFilms {
    .card {
      width: 150px;
      img {
        width: 150px;
        height: 225px;
      }
    }
  }
}
